body {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    background-color: rgb(222, 222, 222);
    min-width: 100pt;
}

.mainarea {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.input-forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
}